<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apworks" version="2.5.4878.35266" targetFramework="net45" />
  <package id="Apworks.ObjectContainers.Unity" version="2.5.4878.35266" targetFramework="net45" />
  <package id="Apworks.Repositories.EntityFramework" version="2.5.4878.35266" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Unity" version="3.0.1304.0" targetFramework="net45" />
  <package id="Unity.Interception" version="3.0.1304.0" targetFramework="net45" />
</packages>